*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    padding: 10px 15px;
}
#Modal{
    display: none;
    padding: 15px;
    width: 200px;
    border: 1px solid black;
}
#Modal>h4{
    margin-left: 140px;
    margin-top: -10px;
}